@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

body,
html {
  height: 100vh;
  width: 100%;
}
body {
  background-color: #1f2235;

  overflow-x: hidden;
  position: relative;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #1d244f;
}

body::-webkit-scrollbar-thumb {
  background-color: #262842;
  border-radius: 20px;
  border: 3px solid #e04451c7;
}
.nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.botoes {
  margin-right: 10%;
}
.botoes a {
  margin: 0 30px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #e1e2e4;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}
.botoes a:hover {
  color: #fff;
  border-bottom: 2px solid #e04451;
}
.logo {
  margin-left: 10%;
  text-transform: capitalize;
  font-size: 2rem;
  color: #e04451;
}
main {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 5%;
  gap: 120px;
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
}
.infosec {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 20px;
}
.infosec h1 {
  color: #e04451;
  text-transform: uppercase;
}
.infosec h2 {
  font-size: 40px;
  font-weight: 500;
}
.infosec p {
  font-size: 16px;
}
.infosec .icons-socials {
  display: flex;
  column-gap: 8px;
}
.infosec .icons-socials ul {
  list-style: none;
}
.infosec .foto {
  width: 50%;
  height: 100%;
}

<<<<<<< HEAD
.infosec .foto img {
  min-width: 100%;
=======
}
main{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    position: relative;
    margin-left: 10%;
   
    
>>>>>>> 8c5177cce73e42c0b9bcb26c6a945a1717d0867b
}

.icons-socials-style {
  width: 45px;
  border: 1px solid #e04451;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.5s;
}
.icons-socials-style:hover {
  translate: 15px;
  margin: 0 10px;
  background-color: #dc8c93;
}

/* div principal do video */
.secyou {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}
.youtube-wrapper {
  height: 100%;
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube-wrapper {
  width: 70%;
  height: 100%;
}

/* div principal das informações */
.youtube-info {
  height: 90%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 30px;
}

.youtube-info .profile-photo {
  width: 35%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
}

.youtube-info .profile-photo img {
  min-width: 100%;
}

.youtube-info .profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-info h1 {
  font-size: 20px;
  font-weight: 600;
}

.profile-info h2 {
  font-size: 16px;
  color: gray;
  font-weight: 600;
}

.profile-info .knowMore-btn {
  padding: 8px 12px;
  background-color: #e04451;

  border-radius: 16px;
  text-decoration: none;
  font-size: 24px;
}

.footer-pc {
  margin-top: 5%;
  width: 100%;
  background-color: #1f223f;
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: space-around;
  z-index: -0;
}
.footer-pc .site-icons {
  display: flex;
  flex-direction: column;
  padding: 15px 16px;
  color: #e1e2e4;
  border: 2px solid #e04451;
  border-radius: 4%;
}
@media screen and (max-width: 1000px) {
  body {
    display: flex;
    min-height: 120vh;
    width: 100%;
    max-width: fit-content;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: 0;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #262842;
    max-width: fit-content;
    min-height: 100vh;
    margin-top: 0;
  }
  .nav h1 {
    margin-left: 2.9%;
  }
  .botoes {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 5%;
    margin-right: 0;
  }
  .botoes a {
    margin-top: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 1rem;
  }
  .foto {
    margin: 0;
  }
  .circulo {
    margin: 0;
  }
  .img {
    width: 200px;
    height: 200px;
  }
  .sec1 {
    width: 80%;
  }

  .footer-mob {
    height: 18%;
    background-color: #262842;
    width: max-content;
    min-width: 100%;
    display: flex;
    margin-top: 0;
    bottom: 0;
    margin-right: 0;
  }
  .footer-mob .site-icons {
    display: flex;
    flex-direction: column;
    padding: 7px 14px;
    color: #e1e2e4;
    border: transparent;
  }
}
<<<<<<< HEAD
=======
 
}
>>>>>>> 8c5177cce73e42c0b9bcb26c6a945a1717d0867b
